In [1]:
#problem 1
#1)
IBM<-read.csv("IBM.csv")
MSFT<-read.csv("MSFT.csv")
GOOG<-read.csv("GOOG.csv")
AAPL<-read.csv("AAPL.csv")
AMZN<-read.csv("AMZN.csv")
FB<-read.csv("FB.csv")
library(dplyr)
a<-select(IBM, Adj.Close)
b<-select(MSFT,Adj.Close)
c<-select(GOOG,Adj.Close)
d<-select(AAPL,Adj.Close)
e<-select(AMZN,Adj.Close)
f<-select(FB,Adj.Close)
mydata<-data.frame(a,b,c,d,e,f)
mydata<-rename(mydata,IBM.dailyprice=Adj.Close,MSFT.dailyprice=Adj.Close.1,GOOG.dailyprice=Adj.Close.2,
       AAPL.dailyprice=Adj.Close.3,AMZN.dailyprice=Adj.Close.4,FB.dailyprice=Adj.Close.5)
head(mydata)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  IBM.dailyprice MSFT.dailyprice GOOG.dailyprice AAPL.dailyprice
1 137.5211       82.79900        1065.00         166.3537
2 141.3013       83.18433        1082.48         166.3247
3 144.1631       83.91647        1086.40         167.0973
4 144.8675       84.95689        1102.23         168.9997
5 145.7412       85.04357        1106.94         168.3720
6 146.0621       84.98579        1106.26         168.3527
  AMZN.dailyprice FB.dailyprice
1 1189.01         181.42
2 1204.20         184.67
3 1209.59         184.33
4 1229.14         186.85
5 1246.87         188.28
6 1252.70         187.87

In [17]:
head(IBM)
class(IBM)
a<-IBM[["Date"]][1:5]#取data.frame里面日期的前五个数
IBM[c(1,6),c(1,6)]

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 154.50 154.81 153.54 154.25 137.5211  4202500
2 2018-01-03 157.34 159.81 156.33 158.49 141.3013  9441600
3 2018-01-04 159.65 162.32 159.37 161.70 144.1631  7556200
4 2018-01-05 162.44 162.90 161.10 162.49 144.8675  5195800
5 2018-01-08 162.66 163.91 161.70 163.47 145.7412  5237500
6 2018-01-09 163.90 164.53 163.06 163.83 146.0621  4341800

[1] "data.frame"

  Date       Adj.Close
1 2018-01-02 137.5211
6 2018-01-09 146.0621

In [4]:
#2)
mydata2<-cor(mydata)
mydata2<-round(mydata2,3)
head(mydata2)
x1<-mydata2[2,1]
x2<-mydata2[3,1]
x3<-mydata2[4,1]
x4<-mydata2[5,1]
x5<-mydata2[6,1]
x6<-mydata2[3,2]
x7<-mydata2[4,2]
x8<-mydata2[5,2]
x9<-mydata2[6,2]
x10<-mydata2[4,3]
x11<-mydata2[5,3]
x12<-mydata2[6,3]
x13<-mydata2[5,4]
x14<-mydata2[6,4]
x15<-mydata2[6,5]
mydata3<-data.frame(x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15)
mydata3<-rename(mydata3,"IBM:MSFT"=x1,"IBM:GOOG"=x2,"IBM:AAPL"=x3,"IBM:AMZN"=x4,"IBM:FB"=x5,"MSFT:GOOG"=x6,
       "MSFT:AAPL"=x7,"MSFT:AMZN"=x8,"MSFT:FB"=x9,"GOOG:AAPL"=x10,"GOOG:AMZN"=x11,"GOOG:FB"=x12,
       "AAPL:AMZN"=x13,"AAPL:FB"=x14,"AMZN:FB"=x15)
t(mydata3[order(mydata3,decreasing = TRUE)])

                IBM.dailyprice MSFT.dailyprice GOOG.dailyprice AAPL.dailyprice
IBM.dailyprice   1.000         -0.418          0.427           -0.011
MSFT.dailyprice -0.418          1.000          0.461            0.787
GOOG.dailyprice  0.427          0.461          1.000            0.586
AAPL.dailyprice -0.011          0.787          0.586            1.000
AMZN.dailyprice -0.094          0.873          0.660            0.840
FB.dailyprice    0.630         -0.294          0.529           -0.027
                AMZN.dailyprice FB.dailyprice
IBM.dailyprice  -0.094           0.630
MSFT.dailyprice  0.873          -0.294
GOOG.dailyprice  0.660           0.529
AAPL.dailyprice  0.840          -0.027
AMZN.dailyprice  1.000           0.053
FB.dailyprice    0.053           1.000

          [,1]
MSFT:AMZN  0.873
AAPL:AMZN  0.840
MSFT:AAPL  0.787
GOOG:AMZN  0.660
IBM:FB     0.630
GOOG:AAPL  0.586
GOOG:FB    0.529
MSFT:GOOG  0.461
IBM:GOOG   0.427
AMZN:FB    0.053
IBM:AAPL  -0.011
AAPL:FB   -0.027
IBM:AMZN  -0.094
MSFT:FB   -0.294
IBM:MSFT  -0.418

In [21]:
getDividends("IBM",from = "2018-01-01",to="2018-12-31", src=read.csv("AAPL.csv"))

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query1.finance.yahoo.com/v7/finance/download/IBM?period1=1514764800&period2=1546214400&interval=1d&events=div&crumb=a6jsHBSVizl'”

           IBM.div
2018-02-08    1.50
2018-05-09    1.57
2018-08-09    1.57
2018-11-08    1.57

In [23]:
getDividends("MSFT",from = "2018-01-01",to="2018-12-31", src=read.csv("MSFT.csv"))

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query1.finance.yahoo.com/v7/finance/download/MSFT?period1=1514764800&period2=1546214400&interval=1d&events=div&crumb=a6jsHBSVizl'”

           MSFT.div
2018-02-14     0.42
2018-05-16     0.42
2018-08-15     0.42
2018-11-14     0.46

In [24]:
getDividends("GOOG",from = "2018-01-01",to="2018-12-31", src="yahoo")

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query2.finance.yahoo.com/v7/finance/download/GOOG?period1=1514764800&period2=1546214400&interval=1d&events=div&crumb=a6jsHBSVizl'”
Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query2.finance.yahoo.com/v7/finance/download/GOOG?period1=-2208988800&period2=1591920000&interval=1d&events=split&crumb=a6jsHBSVizl'”

     GOOG.div

In [25]:
getDividends("AAPL",from = "2018-01-01",to="2018-12-31", src="yahoo")

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query1.finance.yahoo.com/v7/finance/download/AAPL?period1=1514764800&period2=1546214400&interval=1d&events=div&crumb=a6jsHBSVizl'”
Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query1.finance.yahoo.com/v7/finance/download/AAPL?period1=-2208988800&period2=1591920000&interval=1d&events=split&crumb=a6jsHBSVizl'”

           AAPL.div
2018-02-09     0.63
2018-05-11     0.73
2018-08-10     0.73
2018-11-08     0.73

In [38]:
getDividends("AMZN",from = "2018-01-01",to="2018-12-31", src="yahoo")

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query2.finance.yahoo.com/v7/finance/download/AMZN?period1=1514764800&period2=1546214400&interval=1d&events=div&crumb=G3oEUYEFhEf'”
Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query1.finance.yahoo.com/v7/finance/download/AMZN?period1=-2208988800&period2=1591920000&interval=1d&events=split&crumb=G3oEUYEFhEf'”

     AMZN.div

In [39]:
getDividends("FB",from = "2018-01-01",to="2018-12-31", src="yahoo")

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query2.finance.yahoo.com/v7/finance/download/FB?period1=1514764800&period2=1546214400&interval=1d&events=div&crumb=G3oEUYEFhEf'”
Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“incomplete final line found by readTableHeader on 'https://query1.finance.yahoo.com/v7/finance/download/FB?period1=-2208988800&period2=1591920000&interval=1d&events=split&crumb=G3oEUYEFhEf'”

     FB.div